{% extends 'student\base.html' %}

{% block title %} Scholarship {% endblock %}

{% block css %}
{% endblock %}
{% block main %}
<div class="jumbotron">
    <h1 class="display-4">{{scholarship.name}}</h1>
    <p class="lead">Deadline:{{scholarship.openingtime}}-{{scholarship.closingtime}}</p>
    <p>
    Elgible Castes<br>
    {%for c in scholarship.caste%}
    <h5>{{c}}</h5>
    <br> 
    {% endfor %}
    </p>
    <p>
        Elgible Branches<br>
        {%for c in scholarship.branch%}
        <h5>{{c}}</h5>
        <br> 
        {%endfor%}
    </p>
    
    <hr class="my-4">
      {% if elgibility %}
      <a class="btn btn-primary btn-lg" href="/application_form/{{scholarship.id}}" role="button">Apply</a>
      {% endif %}
    </p>
  </div>

</div>
{% endblock %}